package ${package}.dao;

import org.springframework.data.jpa.repository.JpaRepository;
import ${package}.entity.${className}DBEntity;

/**
 * ${comments}
 *
 * @date ${datetime}
 */
public interface ${className}Dao extends JpaRepository<${className}DBEntity, ${pk.attrType}> {
	
}
