<?xml version="1.0" encoding="UTF-8"?>
<mapper nameSpace="zzq.simple.main.mapper.OrderLogMapper">
    <select id="getOrderLogs" resultType ="zzq.simple.main.entity.OrderLog">
        SELECT logID FROM `OrderLog`
    </select>>

    <select id="getOrderLogByLogID" resultType="zzq.simple.main.entity.OrderLog">
        SELECT logID FROM `OrderLog` where logID = #{logID}
    </select>
</mapper>