package ${package}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.entity.${className}DBEntity;

/**
 * ${comments}
 *
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}DBEntity> {

}

