<div>
    <div class="row">
        <div class="col-md-4">
            <input placeholder="请输入" style="margin-top: 16px;margin-left: 10px;height: 32px;width: 100%;" ng-model="queryForm.name">
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary el-mg-t-15 el-mg-r-5" ng-click="refreshTable()">查询</button>
            <button class="btn btn-default el-mg-t-15 el-mg-r-5" ng-click="queryFormInit()">重置</button>
            <button class="btn btn-primary el-mg-t-15 el-mg-r-5" has-perm="COURSE_TAG_SAVE" ng-click="openAddWin()">添加账号</button>
        </div>
    </div>
    <div ui-grid="gridOptions" class="grid grid-height el-mg-t-15" ui-grid-move-columns ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
</div>
